@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Roboto:wght@300&display=swap");

.navbar {
  width: 100%;
  height: 5rem;
  border-radius: 0 0 35px 35px;
  background-color: #ed5353;
}

.NVtriangleOverlay {
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 3rem solid #ff6b6b;
  border-right: 11rem solid transparent;
  border-radius: 0 0 0 35px;
  top: 2rem;
}

@media screen and (max-width: 1080px) {
  .NVtriangleOverlay {
    border: none;
  }
}
@media screen and (max-height: 700px) {
  .NVtriangleOverlay {
    border: none;
  }
}

.NVmiddleOverlay {
  width: 0;
  height: 0;
  border-left: 5rem solid #ff6b6b;
  border-right: 26rem solid transparent;
  border-top: 4rem solid #ff6b6b;
  position: absolute;
  top: 0px;
  left: 37%;
  border-radius: 0px 0px 0 70px;
}

.NVsideOverlay {
  width: 20%;
  height: 5rem;
  background-color: #ff6b6b;
  transform: skew(20deg);
  position: absolute;
  top: 0;
  left: 75%;
  border-radius: 0 0px 30px 66px;
}

.NVcontent {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
}

.NVcontent > p {
  width: 0;
  height: 0;
  position: relative;
  top: 1rem;
  font-size: 1.8rem;
  color: #fff;
  left: 1.5rem;
  font-family: "DM Sans", sans-serif;
}

.buttons {
  position: relative;
  left: 80%;
  top: 10%;
  width: 15rem;
}

.buttons button {
  width: 5rem;
  height: 2rem;
  margin: 0.7rem;
  background: #ff6b6b;
  border: 2px solid #ffffff;
  border-radius: 7px;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
}

.buttons button:first-of-type:hover {
  background-color: #fff;
  color: #ed5353;
}

.buttons button:nth-of-type(2) {
  background-color: #fff;
  color: #ed5353;
}

.buttons button:nth-of-type(2):hover {
  background-color: #ff6b6b;
  color: #fff;
}

.NVrecruiter {
  width: max-content;
  height: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: relative;
  left: 75%;
}

.NVrecruiter p {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
}

.NVrecruiter p:hover {
    font-size: 1.2rem;
}